* {
    font-family: 'rawline',sans-serif;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(255, 0, 60);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h3 {
    margin-bottom: -5px;
    margin-top: 0;
}
.secao-marker {
    color: #06acff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -11px;
}
.abstract-marker {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    max-height: 44px;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
}
.date-marker {
    color: #b1b1b1;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 40;
    margin-top: 5;
}
