# from apache-airflow-providers-amazon
apache-airflow-providers-amazon
aiobotocore
jsonpath-ng
boto3
mypy-boto3-appflow
mypy-boto3-rds
mypy-boto3-redshift-data
mypy-boto3-s3
redshift-connector
scramp
sqlalchemy-redshift
watchtower

# from apache-airflow-providers-elasticsearch
apache-airflow-providers-elasticsearch
elasticsearch
elastic-transport

# from apache-airflow-providers-sendgrid
apache-airflow-providers-sendgrid
sendgrid
starkbank-ecdsa

# from apache-airflow-providers-snowflake
apache-airflow-providers-snowflake
snowflake-connector-python
snowflake-sqlalchemy
pycryptodomex
tomlkit
asn1crypto
oscrypto

# from apache-airflow-providers-microsoft-azure
apache-airflow-providers-microsoft-azure
adal
azure-batch
azure-cosmos
azure-datalake-store
azure-identity
azure-keyvault-secrets
azure-kusto-data
azure-mgmt-containerinstance
azure-mgmt-cosmosdb
azure-mgmt-datafactory
azure-mgmt-datalake-store
azure-mgmt-resource
azure-servicebus
azure-storage-blob
azure-storage-common
azure-storage-file
azure-storage-file-datalake
azure-synapse-spark
azure-common
azure-core
msal-extensions
msrest
azure-mgmt-datalake-nspkg
adal
azure-mgmt-nspkg
azure-mgmt-containerregistry
azure-mgmt-core
azure-mgmt-storage
azure-nspkg
azure-storage-file-share

# from apache-airflow-providers-google
apache-airflow-providers-google
gcloud-aio-auth
gcloud-aio-bigquery
gcloud-aio-storage
google-ads
google-api-core
google-api-python-client
google-cloud-aiplatform
google-cloud-automl
google-cloud-batch
google-cloud-bigquery-datatransfer
google-cloud-bigtable
google-cloud-build
google-cloud-compute
google-cloud-container
google-cloud-datacatalog
google-cloud-dataflow-client
google-cloud-dataform
google-cloud-dataplex
google-cloud-dataproc
google-cloud-dataproc-metastore
google-cloud-dlp
google-cloud-kms
google-cloud-language
google-cloud-logging
google-cloud-memcache
google-cloud-monitoring
google-cloud-orchestration-airflow
google-cloud-os-login
google-cloud-pubsub
google-cloud-redis
google-cloud-run
google-cloud-secret-manager
google-cloud-spanner
google-cloud-speech
google-cloud-storage
google-cloud-storage-transfer
google-cloud-tasks
google-cloud-texttospeech
google-cloud-translate
google-cloud-videointelligence
google-cloud-vision
google-cloud-workflows
grpcio-gcp
json-merge-patch
looker-sdk
pandas-gbq
proto-plus
PyOpenSSL
sqlalchemy-bigquery
sqlalchemy-spanner
google-auth-oauthlib
google-cloud-appengine-logging
google-cloud-audit-log
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-cloud-resource-manager
google-crc32c
google-resumable-media
grpc-google-iam-v1
pydata-google-auth

# from apache-airflow-providers-hashicorp
apache-airflow-providers-hashicorp
hvac
