# TODO

name: Create Ro-DOU documentation pages with MkDocs

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'CHANGELOG.md'

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Move file to target directory
        run: cp -f CHANGELOG.md docs/docs/changelog/changelog.md

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install mkdocs mkdocs-macros-plugin
        
      - name: Write version file
        run: echo "${{ steps.get_version.outputs.VERSION }}" > docs/version.txt

      - name: Update mkdocs.yml with version
        run: |
          VERSION=$(cat docs/version.txt)
          sed -i "s/version: .*/version: \"$VERSION\"/" docs/mkdocs.yml
          
      - name: Build MkDocs site
        run: mkdocs gh-deploy --force -f docs/mkdocs.yml -b gh-pages
